body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgcont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}
figure{
    width: 50%;
}
figcaption{
    width: 50%;
}
img{
    width: 100%;
}
.lists{
    display: flex;
    flex-direction: row; 
}
h3{
    padding-left: 20%;
}
ul{
    display: flex;
    flex-direction: column;
    width: 40%;
}
ol{
    width: 60%;
}
li{
    padding: .4rem;
}  
button{
    position: fixed;
    top: 2rem;
    right: 4%;
    border: none;
    border-radius: 15px;
    background-color: rgb(80, 80, 117);
    color: white;
    padding: .2rem 1rem;
}
button:hover{
    background-color: rgba(80, 80, 117, .8);
    cursor: pointer;
}