*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}
.top{
    display: flex;
    flex-direction: row;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-decoration: underline;
    color: rgb(109, 129, 109);
  
}
.imgcont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    width: 25%;
   
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
}
figcaption{
    padding: 1rem;
}
img{
    width: 100%;
}
.lists{
    display: flex;
    flex-direction: row; 
}
h3{
    padding-left: 20%;
}
ul{
    display: flex;
    flex-direction: column;
    width: 40%;
}
ol{
    width: 60%;
}
li{
    padding: .4rem;
}  
button{
    position: fixed;
    top: 2rem;
    right: 4%;
    border: none;
    border-radius: 15px;
    background-color: rgb(80, 80, 117);
    color: white;
    padding: .2rem 1rem;
}
button:hover{
    background-color: rgba(80, 80, 117, .8);
    cursor: pointer;
}
.recipes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 900;
}
a:hover{
    color: rgb(79, 94, 79);
    border: solid;
}